<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/content/icons/favicons/favicon.ico' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/content/icons/favicons/favicon-16px.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/content/icons/favicons/favicon-32px.png' | relative_url }}">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ '/content/icons/favicons/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/content/icons/favicons/android-chrome-192x192.png' | relative_url }}">
<link rel="manifest" href="{{ '/content/icons/favicons/site.webmanifest' | relative_url }}">

<!-- end custom head snippets -->
