<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- You can set your favicon here -->
link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}"
link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32px.png' | relative_url }}"
link rel="icon" type="image/png" sizes="196x196" href="{{ '/favicon-196px.png' | relative_url }}"
link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}"

<!-- end custom head snippets -->
