<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> ka2is </title>
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  
  <body>
    <div id="header">
      <nav>
        <ul>
          <li class="fork">
            <picture>
              <source media="(min-height:60px)" srcset="/content/icons/terminal_icon-56px.png">
              <source media="(min-height:32px)" srcset="/content/icons/terminal_icon-32px.png">
              <img src="/content/icons/terminal_icon-12px.png" alt="terminal" style="width:auto;">
            </picture>
          </li>            
        </ul>
      </nav>
    </div><!-- end header -->
    
    <div class="wrapper">
      {{ content }}
    </div>
    
  </body>
</html>
